*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-areas: 
        "header"
        "invitacion"
        "oradores"
        "steve-jobs"
        "bill-gates"
        "ada-lovelace"
        "octubre"
        "info-octubre"
        "formulario"
        "footer";
}
header{
    padding: 10px;
    background: #283747;
    grid-area: header;
    display: flex;
    flex-flow: column wrap;
}
a > img{
    width: 50px;
}
header > h1{
    margin: 5px;
    font-size: 15px;
    color: #fff;
}
.botonNav{
    text-decoration: none;
    color: #fff;
}
.comprar{
    text-decoration: none;
    color: #28B463;
}
.invitacion{
    background-image: url(./imagenes/ba1.jpg);
    background-size: cover;
    grid-area: invitacion;
    height: 300px;
}
.invitacion > section{
    background: rgba(0,0,0,.5);
    display: flex;
    height: 300px;
    padding: 20px;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}
.infoInv{
    font-size: 15px;
    margin: 5px;
    color: #fff;
    text-align: right;
}
.compBoton{
    display: flex;
    flex-flow: column wrap;
}
.botonIn{
    border: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    color: #F0F3F4;
    width: 95%;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
}
.orador{
    background: #56657385;
}
.tickets{
    background: #1E8449;
}
.oradores{
    grid-area: oradores;
    padding: 5px;
}
.tituloSec{
    margin: 10px;
    font-size: 8px;
    text-align: center;
}
.tituloPrim{
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.card{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid lightgrey;
    align-items: center;
    width: 350px;
}
.imgOradores{
    width: 270px;
    height: 270px;
}
.botonCard{
    margin: 5px;
    width: fit-content;
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.javaScript{
    background: yellow;
    color: #000;
    font-weight: bold;
}
.react{
    background: #6464ff;
}
.negocios{
    background: grey;
}
.startups{
    background: red;
}
.infoOrador{
    padding: 5px 30px 30px 30px;
}
.steve-jobs{
    grid-area: steve-jobs;
    margin: 10px;
}
.bill-gates{
    grid-area: bill-gates;
    margin: 10px;
}
.ada-lovelace{
    grid-area: ada-lovelace;
    margin: 10px;
}
.octubre{
    grid-area: octubre;
    height: 320px;
    border: 1px solid #fff;
    display: flex;
    background-image: url(./imagenes/honolulu.jpg);
    background-size: cover;
}
.info-octubre{
    height: 320px;
    padding: 5px;
    grid-area: info-octubre;
    border: 1px solid #fff; 
    background: #283747;
    display: flex;
    flex-flow: row wrap;
    align-content: center;

}
.octDescripcion{
    color: #fff;
    margin: 5px;
}
.conoceMas{
    width: fit-content;
    height: fit-content;
}
.formulario{
    grid-area: formulario;
    margin: 10px;
}
.formulario > p{
    padding: 10px;
    text-align: center;
}
.formFormulario{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}
.usuarioForm{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.inputDatos{
    margin: 4px;
    border: 1px solid #7F8C8D;
    border-radius: 6px;
}
.enviar{
    color: #fff;
    background: #3AB330;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #3AB330;
}
footer{
    background: linear-gradient(to right, #154360, #1F618D );
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}
footer > a{
    color: #fff;
    text-decoration: none;
}

/* //////////////////////////////////////////////////////// */

@media screen and (min-width: 550px){
    .grid-container{
        grid-template-areas: 
            "header header header header header header"
            "invitacion invitacion invitacion invitacion invitacion invitacion" 
            "oradores oradores oradores oradores oradores oradores"
            "steve-jobs steve-jobs bill-gates bill-gates ada-lovelace ada-lovelace"
            "octubre octubre octubre info-octubre info-octubre info-octubre"
            "formulario formulario formulario formulario formulario formulario"           
            "footer footer footer footer footer footer";
    }
    header, footer{
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    a > img{
        width: 70px;
    }
    .invitacion{
        height: 600px;
        background-position: center;
    }
    .invitacion > section{
        height: 600px;
        padding: 100px;
    }
    .infoInv{
        width: 45%;
    }
    .compBoton{
        flex-direction: row;
    }
    .botonIn{
        width: fit-content;
        padding: 10px;
    }
    .card{
        width: 90%;
    }
    .octubre, .info-octubre{
        height: 500px;
    }
    .info-octubre{
        padding: 45px;
        align-content: flex-start;
    }
    .usuarioForm{
        display: flex;
        flex-direction: row ;
        margin: 10px;
    }
    .inputDatos{
        width: 29%;
        margin: 10px;
        padding: 10px;
    }
    .cuadroTexto{
        width: 59.5%;
        margin: auto;
        padding: 10px;
    }
    *{
        font-size: 17px !important;
    }
}