*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-areas: 
        "header"
        "categorias"
        "aviso-venta"
        "form-venta"
        "footer";
}
header{
    padding: 10px;
    background: #283747;
    grid-area: header;
    display: flex;
    flex-flow: column wrap;
}
header > img{
    width: 50px;
}
a > img{
    width: 50px;
}
a > h1{
    margin: 5px;
    font-size: 15px;
    color: #fff;
}
.botonNav{
    text-decoration: none;
    color: #fff;
}
.comprar{
    text-decoration: none;
    color: #28B463;
}
footer{
    background: linear-gradient(to right, #154360, #1F618D );
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}
footer > a{
    color: #fff;
    text-decoration: none;
}
.opciones{
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    align-content: center;
}
.categorias{
    grid-area: categorias;
}
.aviso-venta{
    grid-area: aviso-venta;
}
.form-venta{
    grid-area: form-venta;
}
.opcionCat{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
    margin: 30px 2px 2px 2px;
    width: 70%;
}
.estudiante{
    border: 2px solid #1F618D;
}
.trainee{
    border: 2px solid #2E86C1;
}
.junior{
    border: 2px solid #F4D03F;
}
.tituloCat{
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
.tituloDesc, .documentacion{
    margin: 10px;
    text-align: center;
}
.descuento{
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
}

/* //////////////////////////////////////////////////////// */
form{
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
input, select{
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #AEB6BF;
}
form > p{
    margin: 5px;
    width: 70%;
}
#totalPagar{
    background: #2E86C1;
    border-radius: 5px;
    height: 40px;
    padding: 20px;
    color: #fff;
    padding-top: 10px;
}
.botonVerde{
    color: #fff;
    background: #3AB330;
    border-radius: 5px;
    border: 1px solid #3AB330;
}

/* //////////////////////////////////////////////////////// */

@media screen and (min-width: 770px){
    *{
        font-size: 17px !important;
    }
    .grid-container{
        grid-template-areas: 
            "header header header header header header"
            "categorias categorias categorias categorias categorias categorias"
            "aviso-venta aviso-venta aviso-venta aviso-venta aviso-venta aviso-venta"
            "form-venta form-venta form-venta form-venta form-venta form-venta"
            "footer footer footer footer footer footer";
    }
    header, footer{
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    a > img{
        width: 70px;
    }
    .categorias{
        flex-direction: row;
        justify-content: center;
    }
    .opcionCat{
        width: 20%;
    }
    form > p{
        width: 60%;
    }
    
} 